.main-title {
    margin-top: 10px;
}

.images-item {
    cursor: pointer;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
    padding: 3px;
    max-height: 50px;
    max-width: 50px;
    margin: 0 5px 5px;
    &:hover {
        opacity: 0.7;
    }
}

.images-item-upload {
    width: 100%;
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
    border: 1px solid #ccc;
    &:hover {
        opacity: 0.7;
    }
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.max-height {
    overflow: auto;
    max-height: 300px;
}

.toolpanel {
    position: absolute;
    width: 250px;
    top: 10px;
    left: 70px;
}

.btn-upload {
    position: relative;
    overflow: hidden;
    input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
    }
}