/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css?family=Bellefair|Fresca|Gloria+Hallelujah|Inconsolata|Indie+Flower|Josefin+Sans|Lato|Open+Sans|Open+Sans+Condensed:300|Pacifico|Raleway|Roboto|Zilla+Slab");
.canvas-container {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVQ4jWNgYGAQIYAJglEDhoUBg9+FowbQ2gAARjwKARjtnN8AAAAASUVORK5CYII=");
    background-size: 30px 30px;
    border: 1px solid #ccc;
    margin: auto;
}